.secondary-btn {
    background: $clr-neutral-400;
    width: 100%;
    border-radius: 8px;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.btn {
    width: 100%;
    border: 1px solid $clr-neutral-400;
    border-radius: 8px;
    padding: 1rem 0;
}

.primary-btn {
    background: $clr-accent-400;
    color: $clr-neutral-100;
}