$clr-neutral-100: #fff;
$clr-neutral-400: #DDD4E2;
$clr-neutral-700: #6B666E;
$clr-neutral-900: #2D2B2E;

$clr-accent-400: #872ABF;


body {
    color: $clr-neutral-900;
}

a:active {
    color: $clr-neutral-900;
}