.space-between {
    display: flex;
    justify-content: space-between;
}

.section {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
}

.y-centered {
    align-items: center;
}

.gap-sm {
    gap: 1rem;
}

.container {
    padding-inline: 2rem;
    padding-top: 32px;
    padding-bottom: 32px;
}

.push-down-8 {
    margin-bottom: 8px;
}

.push-down-32 {
    margin-bottom: 32px;
}

.full-screen {
    min-height: 100vh;
}



.frame, .vertical-frame {
    display: flex;
}

.vertical-frame {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
    align-items: space-between;
}

.y-centered {
    align-items: center;
}



$spaces: (
    '8': 8px,
    '12': 12px,
    '16': 16px,
    '24': 24px,
    '32': 32px,
    '64': 64px
);

@each $key, $value in $spaces {
    .gap-#{$key} {
        gap: $value;
    }
}



