.promo-img {
    background-image: url('../../../../public/assets/imgs/Promo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}